<div class="containerform">
<h4>Marque | <%= car.brand.capitalize %></h4>
<p>Adresse | <%= car.address %></p>
<p>Modèle | <%= car.model %></p>
<p><strong>Prix à la journée | <%= car.price_per_day %>€</strong></p>
<%= link_to "Voir plus", car_path(car), class: "btn-purple" %>
</div>
