<%= @car.brand.capitalize %>

<% @car.bookings.each do |booking| %>
  <% if booking.user = current_user %>
    <%= booking.starts_at %>
    <%= booking.ends_at %>
  <% end %>
  <p>Vous louerez cette voiture à <%= @car.user.first_name %> !</p>
<% end %>

<%= link_to "Revenir vers la liste des voitures", cars_path %>

<div class="booking-form">
  <% if user_signed_in? %>
    <p>Réserver cette voiture :</p>
    <%= simple_form_for [@car, @booking], data: { controller: 'flatpickr' } do |f| %>
      <%= f.input :starts_at, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :ends_at, as: :string, as: :string, input_html: { data: { flatpickr_target: "endTime" }, id: 'end_time' } %>
      <%= f.submit "Confirmer les dates" %>
    <% end %>
  <% else %>
    <p>Créez un compte pour pouvoir réserver cette voiture !</p>
  <% end %>
</div>
